@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&display=swap');

:root{
    --onyx: #413d3a;
}

body {
    background: #413d3a;
}


*{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    text-decoration: none;
    transition: 0.25s linear;
    box-sizing: border-box;
    
}

html{
    font-size: 65%;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

section{
    padding: 3rem 9%;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background: var(--onyx);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 8%;
    box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.1);
}

.header .logo{
    font-size: 2.6rem;
    
    color:ivory;
    display: flex;
    align-items: center;
    text-decoration: none; 
}

.logo-text {
    font-family: 'Cedarville Cursive', cursive;
    
}




.header .navbar a{
    font-size: 1.8rem;
    color: ivory;
    margin: 0 1rem;
    position: relative; 
    z-index: 1; 
}

.header .navbar a:hover{
    color: rgba(238, 233, 233, 0.884);
    transition: color 0.3s ease-in-out; 
}

.header .navbar a::before {
    content: '';
    position: absolute;
    z-index: -1; 
    top: -6px;
    left: -6px;
    right: -6px;
    bottom: -6px;
    border-radius: 11px;
    background-color: rgba(255, 255, 255, 0.247);
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.header .navbar a:hover::before {
    opacity: 1;
}

.header .icons div{
    font-size: 2.5rem;
    margin-left: 1.7rem;
    cursor: pointer;
    color: ivory;
}

.main{
    padding-top: 15rem;
    /* COLORRRR */
    background-color: rgba(231, 215, 194, 0.877);
    background-size: cover;
    background-position: center;
    position: relative;
    
}

.main .slider .slide{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.5rem;
    display: none; 

}

/* Animacja napisów */
@keyframes fadeLeft {
    0% {
        opacity: 0;
        transform: translateX(-10%);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeUp {
    0% {
        opacity: 0;
        transform: scale(0.8);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

.main .slider .slide.active{
    display: flex;
}

.main .slider .slide .content{
    flex: 1 1 40rem;
    animation: fadeLeft .4s linear .4s backwards;
}

.main .slider .slide .content span{
    color:rgb(0, 0, 0);
    font-size: 2.5rem;
}

.main .slider .slide .content h3{
    color: black;
    font-size: 6rem;
    padding: 0.6rem 0;
}

.main .slider .slide .breads{
    flex: 1 1 40rem;
    margin: 3rem 0;
    height: 45rem;

}

.main .slider .slide .breads img{
    max-width: 100%;
    height: 90%;
    animation: fadeUp 0.6s linear;
}

.main #right,
.main #left{
    position:absolute;
    
    top:50%;
    transform: translateY(-50%);
    height: 7rem;
    width: 7rem;
    line-height: 7rem;
    box-shadow: 0.1rem 0.5rem 1.1rem rgba(0,0,0,0.15);
    text-align: center;
    background: var(--onyx);
    font-size: 3rem;
    color:ivory;
    cursor:pointer;
    background: #413d3a;
    border-radius: 50%;
    transition: all 0.4s ease-in-out;

}

.main #right:hover,
.main #left:hover{
    background: rgba(235, 202, 159, 0.651);
    color: ivory;
    
    
}

.main #left{
    left: 2rem;
}

.main #right{
    right: 2rem;
}

/* --------------------------------------------------------------------------- */


.dmargin {
    position: relative;
    height: 10rem;
    background: #413d3a;
    overflow: hidden;
    
} 

.heading h1{
    color: ivory;
    font-size: 5rem;
    
}

.heading {
    background: url("images/main.jpg") no-repeat;
    background-size: cover;
    background-position: top;
    padding-top: 10rem;
    padding-bottom: 10rem;
    align-items: center;
    text-align: center;

    
}

.title {
    display: flex;
    align-items: center;
    font-size: 2.5rem;
    margin-bottom: 3rem;
    padding: 1.2rem 0;
    border-bottom: 0.1rem solid rgba(0,0,0, 0.3);
    color: ivory;
}

.title span{
    padding-left: 0.6rem;
}












.heading p{
    padding-top: 1rem;
    font-size: 2rem;
    color: ivory;
}

.heading p a{
    color: rgb(37, 37, 37);
    padding-right: .5rem;

}

.category .blocks{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    padding: 4rem 0;
    justify-content: center; /* center the blocks horizontally */
}

.category .blocks .block{
    text-align: center;
    flex-basis: calc(25% - 1.5rem);
    margin-bottom: .5rem; 
}

.category .blocks .block img{
    height: 15rem;
}

.category .blocks .block h3{
    font-size: 2rem;
    margin: 1rem 0;
    color:black;
}

.category .blocks .block:hover h3{
    color:white;
}

/*------KONTAKT---------------------------*/ 

.contact .contact-icons{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 2.5rem;

}

.contact .contact-icons .icons{
    text-align: center;
    border: 0.1rem solid var(--onyx);
    padding: 2rem;

    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.705);
}

.contact .contact-icons .icons i{
    height: 7rem;
    width: 7rem;
    line-height: 7rem;
    font-size: 3rem;

    background: rgb(32, 32, 32);
    color:ivory;
    border-radius: 50%;

}

.contact .contact-icons .icons h3{
    color:ivory;
    font-size: 2rem;
    padding: 1.2rem 0;
    
}

.contact .contact-icons .icons p{
    color: ivory;
    font-size: 1.5rem;
    line-height: 2;
}





































































































@media (max-width: 767px){
    html{
        font-size: 50%;
    }
    
}

