@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Foundation:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Foundation&display=swap');

:root{
    
    --onyx: rgb(32,32,34);
}

body {
    
    background: rgb(32, 32, 34);
}


*{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    text-decoration: none;
    transition: 0.25s linear;
    
    
}

html{
    font-size: 65%;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

section{
    padding: 3rem 9%;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background: var(--onyx);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 9%;
    box-shadow: 0 0.5rem 1rem rgba(0,0,0, 0.4);
}

.header .logo{
    font-size: 2.6rem;
    
    color:ivory;
    display: flex;
    align-items: center;
    text-decoration: none; 
}

.logo-text {
    font-family: 'Cedarville Cursive', cursive;
    
}

#menu-btn{
    display: none; /* mobile only */
}




.header .navbar a{
    font-size: 1.8rem;
    color: ivory;
    margin: 0 1rem;
    position: relative; 
    z-index: 1; 
}

.header .navbar a:hover{
    color: rgba(238, 233, 233, 0.884);
    transition: color 0.3s ease-in-out; 
}

.header .navbar a::before {
    content: '';
    position: absolute;
    z-index: -1; 
    top: -6px;
    left: -6px;
    right: -6px;
    bottom: -6px;
    border-radius: 11px;
    background-color: rgba(255, 255, 255, 0.247);
    
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.header .navbar a:hover::before {
    opacity: 1;
}

.header .icons div{
    font-size: 2.5rem;
    margin-left: 1.7rem;
    cursor: pointer;
    color: ivory;
}

.header .icons div:hover{
    color: #222;
}

.main{
    padding-top: 15rem;
    
    background-color: rgba(231, 215, 194, 0.877);
    background-size: cover;
    background-position: center;
    position: relative;
    
}

.main .slider .slide{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.5rem;
    display: none; 

}

/* Animacja napisów */
@keyframes fadeLeft {
    0% {
        opacity: 0;
        transform: translateX(-10%);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}



.main .slider .slide.active{
    display: flex;
}

.main .slider .slide .content{
    flex: 1 1 40rem;
    animation: fadeLeft .4s linear .4s backwards;
}

.main .slider .slide .content span{
    color:rgb(0, 0, 0);
    font-size: 2.5rem;
}

.main .slider .slide .content h3{
    color: black;
    font-size: 6rem;
    padding: 0.6rem 0;
}

.main .slider .slide .breads{
    flex: 1 1 40rem;
    margin: 3rem 0;
    height: 45rem;

}

.main .slider .slide .breads img{
    max-width: 100%;
    height: 90%;
    animation: fadeUp 0.6s linear;
}

.main #right,
.main #left{
    position:absolute;
    
    top:50%;
    transform: translateY(-50%);
    height: 7rem;
    width: 7rem;
    line-height: 7rem;
    box-shadow: 0.1rem 0.5rem 1.1rem rgba(0,0,0,0.15);
    text-align: center;
    background: var(--onyx);
    font-size: 3rem;
    color:ivory;
    cursor:pointer;
    background: rgb(32, 32, 34);
    border-radius: 50%;
    transition: all 0.4s ease-in-out;

}

.main #right:hover,
.main #left:hover{
    background: rgba(235, 202, 159, 0.651);
    color: ivory;
    
    
}

.main #left{
    left: 2rem;
}

.main #right{
    right: 2rem;
}

/* --------------------------------------------------------------------------- */


.dmargin {
    position: relative;
    height: 10rem;
    
    background: rgb(32, 32, 34);
    overflow: hidden;
    
} 

.heading h1{
    color: ivory;
    font-size: 5rem;
    
}

.heading {
     background: url("images/main.jpg") no-repeat;
    background-size: cover;
    background-position: top;
    padding-top: 10rem;
    padding-bottom: 10rem;
    align-items: center;
    text-align: center;

    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.705),
    0 -0.5rem 1rem rgba(0, 0, 0, 0.305);
    
    

    
}

.title {
    display: flex;
    align-items: center;
    font-size: 2.5rem;
    margin-bottom: 3rem;
    padding: 1.2rem 0;
    border-bottom: 0.1rem solid rgba(0,0,0, 0.3);
    color: ivory;
}

.title span{
    padding-left: 0.6rem;
}




.heading p{
    padding-top: 1rem;
    font-size: 2rem;
    color: ivory;
}

.heading p a{
    color: rgb(37, 37, 37);
    padding-right: .5rem;

}


.category .blocks{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    padding: 4rem 0;
    justify-content: center; 



}

.category .blocks .block {
    text-align: center;
    flex-basis: 20rem; 
    margin-bottom: .5rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.705);
   
}

.category .blocks .block img {
    max-width: 100%; 
    height: 15rem;
    margin-top: 1rem;
}

.category .blocks .block h3{
    font-size: 2rem;
    margin: 1rem 0;
    color:#dfdabeec;
    font-family:Arial, Helvetica, sans-serif;
    text-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.305);
    
}
.category .blocks .block P{
    color: #dfdabeec;
    font-size: 1.5rem;
    padding-bottom: 1rem;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.305);
    
}

.category .blocks .block:hover h3{
    color:white;

}
.category .blocks .block:hover p{
    color: white;
}

.breads img[src="breads/MALYZIARN.png"] {
    max-width: 40rem !important;
    height: auto !important;
    display: block;
    margin: 2rem 0 0 -5rem;
    position: relative;
    left: 2rem;
    top: 2rem;
  }

  .breads img[src="breads/bulki.png"] {
    max-width: 105rem !important;
    height: auto !important;
    display: block;
    margin: 1rem 0 0 -2rem;
    position: relative;
    left: 2rem;
    top: 0rem;
  }

  .breads img[src="breads/cebulowymain.png"] {
    max-width: 50rem !important;
    height: auto !important;
    display: block;
    margin: 2rem 0 0 -10rem;
    position: relative;
    left: 2rem;
    top: 2rem;

  }

.c {
    font-family: 'Roboto', sans-serif;
}




/*-----------O NAS---------------------*/
.about{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.5rem;
    margin-top: -2rem;
}

.about .img{
    flex: 1 1 40rem;
}

.about .img img{
    width: 90%;
    
}

.about .text{
    flex: 1 1 40rem;
    text-align: center;
    
    
}

.about .text span{
    color: ivory;
    font-size: 5.8rem;
    font-family: 'Cedarville Cursive', cursive;
    
    
}

.about .text h3{
    color: ivory;
    font-size: 1.9rem;
    padding-bottom: 1.4rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.3);
    line-height: 2.8rem;
}

.about .text p{
    color: ivory;
    font-size: 1.5rem;
    line-height: 2;
    padding: 1rem 0;
}





/*------KONTAKT---------------------------*/ 

.contact .contact-icons{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 2.5rem;

}

.contact .contact-icons .icons{
    text-align: center;
    border: 0.1rem solid var(--onyx);
    padding: 2rem;

    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.705);
}

.contact .contact-icons .icons i{
    height: 7rem;
    width: 7rem;
    line-height: 7rem;
    font-size: 3rem;

    background: rgb(32, 32, 32);
    color:ivory;
    border-radius: 50%;

}

.contact .contact-icons .icons h3{
    color:ivory;
    font-size: 2rem;
    padding: 1.2rem 0;
    
}

.contact .contact-icons .icons p{
    color: ivory;
    font-size: 1.5rem;
    line-height: 2;
}

.contact-icons .iframe-ic iframe{
    width:100%;
    padding-top: 1rem;
    padding-bottom: 1rem;
    
    
}


/* .icons:hover {
    transform: scale(1.05); 
    transition: all 0.3s ease-in-out; 
  } */ 



.icons a {
    text-decoration: none;
    display: block;
    height: 100;
    width: 100;
  }

.hover:hover{
    transform: scale(1.05); 
    transition: all 0.3s ease-in-out;
  }

  .rynki {
    font-family: 'Roboto', sans-serif;
    font-size: 1.8rem;
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-sizing: border-box;
    padding: 1rem;
    margin-bottom: 1.5rem;
    box-shadow: -0.1rem 0.05rem 0.5rem #888888c7;
   

  }

  .rynki:hover {
    border: 1px solid rgb(32, 32, 32);
    box-shadow: -0.17rem 0.11rem 0.62rem #888;
    scale: 1.07;
  }
  
  
  




@media(max-width: 1000px){
    html{
        font-size: 55%;
    }
    .header{
        padding: 2rem;
    }
}

@media (max-width:770px){
    #menu-btn{
        display: inline-block;
    }

    .category .blocks .block {
        flex-basis: 100%; /* Set blocks to take up 100% width, one block per row */
    }

    .header .navbar{
        position: absolute;
        top: 99%;
        left: 0;
        right: 0;
        background: #222;
        border-top: 0.1rem solid rgba(0,0,0,0.1);
        border-bottom: 0.1rem solid rgba(0,0,0,0.1);
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }

    .header .navbar.active{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }
    .header .navbar a{
        margin: 1.5rem;
        padding: 1.5rem;
        background: var(--onyx);
        font-size: 2rem;
        display: block;
        border-radius: .5rem;
    }

    }



@media (max-width: 450px){
    html{
        font-size: 50%;
    }
}






